.card {border: 2px solid silver;
      border-radius: 25px;
      margin-left: 2px;
      float: left;
      width: 25%;
      color: white;
    background: rgba(191, 155, 128, 0.8);
    height: 300px;
  }
#bodyBackgr {background-image: url('https://images.unsplash.com/photo-1527908147823-068bba50c255?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6959aa40ed36fe7e0c3383b16cea8f98&auto=format&fit=crop&w=1055&q=80');
              background-size: 100%;
             }
